#carouselExample{
    max-width: 960px;
    margin: auto;
}

.nav-link{
    margin-left: 6%;
}

#nav1{
    width: max-content;
}

#nav1 .link_nostyle{
    text-decoration: none;
    color: inherit;
}
#nav1 .nav-link{
    text-decoration: none;
    color: inherit;
}
#nav1 .nav_no_sel{
    font-size:11px;
    white-space: nowrap;
    text-align: center;
    padding-top: 2%;
}