<!DOCTYPE html>
<html>
<head>
    <title>Crear Atención</title>
</head>
<body>
    <h2>Crear Atención</h2>

    <form method="post" action="{% url 'appointmentNew' %}">
        {% csrf_token %}
        <label for="fecha_ate">Fecha de Atención:</label>
        <input type="date" name="fecha_ate" required><br>

        <label for="hora_ate">Hora de Atención:</label>
        <input type="time" name="hora_ate" step="600" required>

        <label for="precio_ate">Precio de Atención:</label>
        <input type="number" name="precio_ate" step="0.01" required><br>

        <label for="bono_ate">Bono de Atención:</label>
        <input type="text" name="bono_ate" required><br>

        <label for="rut_cli">RUT del Cliente:</label>
        <input type="text" name="rut_cli" required><br>

        <label for="rut_med">RUT del Médico:</label>
        <input type="text" name="rut_med" required><br>

        <label for="id_boleta">ID de la Boleta:</label>
        <input type="text" name="id_boleta" required><br>

        <label for="rut_med1">RUT del Médico Asistente:</label>
        <input type="text" name="rut_med1" required><br>

        <label for="id_esp">ID de la Especialidad:</label>
        <input type="text" name="id_esp" required><br>

        <input type="submit" value="Crear Atención">
    </form>
</body>
</html>
