<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Horario</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mb-4">Modificar Horario</h2>
                <form method="post" action="{% url 'ruta_modificar_horario' medico.rut_med %}">
                    {% csrf_token %}

                    <!-- Días laborables -->
                    <div class="mb-3">
                        <label for="dias_laborables" class="form-label">Días laborables</label>
                        <select multiple class="form-select" id="dias_laborables" name="dias_laborables">
                            {% for dia_laborable in dias_laborables %}
                                <option value="{{ dia_laborable.id }}" {% if dia_laborable in dias_laborables_seleccionados %}selected{% endif %}>
                                    {{ dia_laborable.nombre }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Hora de inicio de trabajo -->
                    <div class="mb-3">
                        <label for="hora_inicio_trabajo" class="form-label">Hora de inicio de trabajo</label>
                        <input type="time" class="form-control" id="hora_inicio_trabajo" name="hora_inicio_trabajo" value="{{ hora_inicio_trabajo }}">
                    </div>

                    <!-- Hora de fin de trabajo -->
                    <div class="mb-3">
                        <label for="hora_fin_trabajo" class="form-label">Hora de fin de trabajo</label>
                        <input type="time" class="form-control" id="hora_fin_trabajo" name="hora_fin_trabajo" value="{{ hora_fin_trabajo }}">
                    </div>

                    <!-- Botón de guardar -->
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Agrega el enlace al archivo JS de Bootstrap 5 y a la biblioteca de jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
