<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mb-4">Iniciar Sesión</h2>
                <form action="{% url 'login_view' %}" method="post">
                {% csrf_token %} 
                    <!-- Campo de nombre de usuario -->
                    <div class="mb-3">
                        <label for="rut" class="form-label">Rut sin digito verificador</label>
                        <input type="text" class="form-control" id="rut" name="rut" required>
                    </div>

                    <!-- Campo de contraseña -->
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <!-- Botón de inicio de sesión -->
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </form><br>
                {% if error_message %}
                    <div class="alert alert-danger">
                        {{ error_message }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Agrega el enlace al archivo JS de Bootstrap 5 y a la biblioteca de jQuery -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>