<!-- medico_detail.html -->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalle del Médico</title>
        {% load static %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/format_numbers.js' %}"></script>
        <link href="{% static 'css/medicoDetails.css' %}" rel="stylesheet">
    </head>

    <body>

        <div>
            <h1>Detalles del Médico</h1>
            <p>Nombre: {{ medico.pnombre_med }} {{ medico.apaterno_med }} {{ medico.amaterno_med }}</p>
            <p>RUT: <span id="formatted-rut">{{ medico.rut_med }}-{{ medico.dv_med }}</span></p>
            <p>Especialidad: {{ medico.especialidad_nombre }}</p>
            <p>Secretaria Asignada: {{ medico.rut_sec }}</p>
            <p>Días Laborales:
                {% for dia in medico.dias_laborales.all %}
                    {{ dia.nombre_dia }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>Horario de trabajo: {{ medico.hora_inicio_trabajo|time:"H:i" }} - {{ medico.hora_fin_trabajo|time:"H:i" }}</p>
            
            <!-- Otros detalles del médico -->
        </div>

    </body>

</html>
